body {
  font-family: 'EB Garamond', serif;
  background-color: #f8f9f9;
  color: #6e5f49;
  padding: 40px;
  font-size: 18px;
}

h1, h2 {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}

.level {
  margin-bottom: 30px;
}

.skill {
  display: block;
  margin: 8px 0;
  font-size: 18px;
}

button {
  background-color: #ffe5ec;
  color: #6e5f49;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'EB Garamond', serif;
}

@media print {
  button {
    display: none;
  }
}
